PUBLIC_SUPABASE_URL='https://zmkbgwmdnpnddhqjeets.supabase.co'
PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpta2Jnd21kbnBuZGRocWplZXRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTgwNDY4ODgsImV4cCI6MjAxMzYyMjg4OH0.ZBwAIvgX2vsxCksIT_0cKS9Oq9v47xK050GdH4IUBTY'